<body class="{{bodyClass}}">
  <div class="adr_icon">
    <img src="assets/images/cctv_icon.png">
  </div>
  <div class="subheader">{{subtitle}}</div>
  <div class="maincontainer">
    {{#if listExists}}
      <a href="">
        {{#each lista as |equipamento|}}
          <a href="/cctv_{{equipamento.pk}}">
            <input type="button" value="{{equipamento.pk}}" />
          </a>
        {{/each}}
      </a>
    {{/if}}
  </div>
  <div class="go_back_button">
    <a href="{{backAction}}">
      <img src="assets/images/back_arrow.png" />
      <img class="img_hover" src="assets/images/back_arrow_hover.png" />
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="go_home_button">
    <a href="/">
      <img src="assets/images/home.png" />
      <img class="img_hover" src="assets/images/home_hover.png" />
    </a>
  </div>
</body>